/* profile_professional*/
#profile_professional ul.nav-tabs{
  width: 240px;
  margin-top: 20px;
  border-radius: 4px;
  border: 1px solid #ddd;
  border-top: 3px solid #226eb1;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
  background: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}
#profile_professional ul.nav-tabs li{
  margin: 0;
  border-top: 1px solid #ddd;
}
#profile_professional ul.nav-tabs li:first-child{
  border-top: none;
}
#profile_professional ul.nav-tabs li a{
  margin: 0;
  padding: 8px 16px;
  border-radius: 0;
}
#profile_professional ul.nav-tabs li.active a, #profile_professional ul.nav-tabs li.active a:hover{
  color: #fff;
  background: #226eb1;
  border: 1px solid #226eb1;
}
#profile_professional ul.nav-tabs li:first-child a{
  border-radius: 4px 4px 0 0;
}
#profile_professional ul.nav-tabs li:last-child a{
  border-radius: 0 0 4px 4px;
}
#profile_professional ul.nav-tabs.affix{
  top: 30px; /* Set the top position of pinned element */
}
#profile_professional div.jumbotron{
  padding: 0;
  margin: 0;
  background: none;
}
#profile_professional div.school_profile_container{
  margin-top: 20px;
  border-radius: 4px;
  border: 1px solid #ddd;
  border-top: 3px solid #226eb1;
  background: #fff;
  padding: 10px;
}
/*profile_courses.home*/
#profile_courses div.panel-heading>p{
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}
#profile_courses div.panel-primary{
  margin-top: 25px;
}

#profile_teacher div.caption{
  padding-left: 40px;
}
#profile_teacher div.thumbnail{
  padding-top: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}
#profile_teacher div.modal-dialog {
  margin-top: 360px;
}
