#qa_message_show img{
  width: 70px;
  height: 70px;
}
#qa_message_show div.col-md-12{
  margin-top: 25px;
  margin-bottom: 25px;
}
#qa_message_show div.panel-heading>p, #qa_message_add div.panel-heading>p{
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}
#qa_message_show div.media{
  margin-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}
#qa_message_show hr{
  margin-top: 15px;
  margin-bottom: 15px;
}
#qa_message_show .admin{
  text-align: right;
}

#qa_message_add div.panel.panel-primary{
  height: 400px;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 25px;
}
#qa_message_add div.col-md-6{
  margin-top: 85px;
}
#qa_message_add div.input-group {
  width: 100%;
}
#qa_message_add input.form-control {
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
}